<div class='row'>
  <div class="col-sm-3">
    <h3 class="bg-light">商品詳細</h3>
    <%#= attachment_image_tag @item, :image_id, :fill, 100, 100, format: 'jpeg', fallback: "img/no_image.jpg" %>
  </div>
  <div class="col-sm-9"><br>
    <div class="form-inline">
      <label class="col-sm-2">商品名</label>
      <div class="col-sm-7 form-inline">
         <%= @item.name %>
      </div>
    </div>
    <div class="form-inline">
      <label class="col-sm-2">商品説明</label>
      <div class="col-sm-7 form-inline">
         <%= @item.introduction %>
      </div>
    </div>
    <div class="form-inline">
      <label class="col-sm-2">ジャンル</label>
      <div class="col-sm-7 form-inline">
         <%= @item.genre.name %>
      </div>
    </div>
    <div class="form-inline">
      <label class="col-sm-2">税込価格<br>（税抜価格）</label>
      <div class="col-sm-7 form-inline">
         <%= @item.taxfree %>円
         <%#= @item.taxfree, {print(price * 1.1)} %>
      </div>
    </div>
    <div class="form-inline">
      <label class="col-sm-2">販売ステータス</label>
      <div class="col-sm-7 form-inline">
         <% if @item.is_valid == true %>
         <div class="text-success">販売中</div>
         <% else %>
         <div class="text-secondary">販売停止中</div>
         <% end %>
      </div>
    </div>
</div>
