<h4>
    ようこそ、ながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない⽅も商品の閲覧はできますが、</br>
    購⼊には会員登録が必要になります。</br>
</h4>
<h1>新着商品</h1>
<div>
    <table>
        <% @items.each do |item| %>
        <tr>
            <td><%= attachment_image_tag item, :image_id, :fill, 100, 100, format: 'jpeg', fallback: "img/no_image.jpg" %></td>
            <td><%= item.name %></td>
            <td>¥<%= item.taxfree %></td>
        </tr>
        <% end %>
    </table>
    <p><%= link_to "全ての商品を見る", items_path %></p>
</div>