<div class="container">
  <div class="text-center">
<<<<<<< HEAD
      <h1 class="text-center">ご注文ありがとうございました！</h1>
=======
      <h1>ご注文ありがとうございました！</h1>
>>>>>>> 7e58a2fc284c210eb442b79df76f3bbe1cda5d78
  </div>
</div>