/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.main {
     background-image: image-url('img2/sample12-min');
     background-size:cover;
     background-position: center center;
     height:400px;
}

.back{
      height: 100%;
     background-color: #fffff0
}

.maru {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width: 150px;  /* 縦横を同じ値にする */
    height: 150px;  /* 縦横を同じ値にする */
    border: solid 2px #fffff0;     /* 枠線指定 */
    object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */

}