<h1>商品一覧</h1>

<div>
  <table>
        <% @items.each do |item| %>
        <tr>
            <td><%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg', fallback: "img/no_image.jpg" %></td>
            <td><%= item.name %></td>
            <td>¥<%= item.taxfree %></td>
        </tr>
        <% end %>
    </table>
  <%= paginate(@kaminari) %>
</div>
