<div class="mb-0">
  <%= form_tag(search_admins_customers_path, method: :get) do %>
  <%= select_tag 'range' ,options_for_select([['-選択してください-', ''], ['会員', '1'], ['商品', '2'],['ジャンル', '3'],]) %>

　<%= text_field_tag (:word)  %>
　<%= submit_tag "検索" %>
</div>
<% end %>